@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

th {
  font-size: small;
  font-weight: 500;
}
td {
  font-size: small;
}
/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #020617;
}
